.container {
  height: 400px;
  margin: 20px;
}

body {
  font-family: sans-serif;
  padding: 1rem;
}
label {
  margin-right: 1rem;
}
#controls {
  margin-bottom: 1rem;
}
#last-updated {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #666;
}
